table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #333;
    padding: 0.5em 0;
    text-align: center;
}

th {
    background-color: #afabab;
}

tr:hover {
    background-color: #e0e0e0;
}

table a {
    text-decoration: none;
    color: black;
}

.detail {
    text-align: center;
}

.retour {
    text-align: center;
    margin-top: 3em;
}

.retour a {
    background-color: #afabab;
    text-decoration: none;
    color: black;
    padding: 0.7em 3em;
    border-radius: 1em;
}