table {
    width: 100%;
    border-collapse: collapse;
     border: 1;
}

th, td {
    border: 1px solid #333;
    padding: 0.5em 0;
    text-align: center;
}

th {
    background-color: #afabab;
}

tr:hover {
    background-color: #e0e0e0;
}

table a {
    text-decoration: none;
    color: black;
}

.detail {
    text-align: center;
}

.retour {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
    gap: 4em;
}

.retour a,
button,
.panier a {
    background-color: #afabab;
    text-decoration: none;
    color: black;
    padding: 0.7em 3em;
    border-radius: 1em;
    border: none;
    font-size: 1.1em;
}

ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

li {
    list-style: none;
}

li a {
    transition: 0.3s;
}


li a:hover {
    background-color: #d3d3d3;
}

.panier {
    margin-top: 2em;
    text-align: center;
}